{% extends "temp2/main.html" %}

{% block title %}Страница 2{% endblock %}

{% block content %}
<h2>Страница 2</h2>
<p>Это вторая страница нашего сайта. Здесь вы можете посмотреть наши работы, наши отзывы и наши контакты.</p>

<h3>Наши работы</h3>
<p>Мы гордимся нашими проектами, которые мы сделали для разных клиентов. Вот некоторые из них:</p>

<ul class="projects">
<li><img src="project1.jpg" alt="Проект 1"><span>Проект 1 - это сайт для онлайн-магазина одежды.</span></li>
<li><img src="project2.jpg" alt="Проект 2"><span>Проект 2 - это приложение для заказа еды на дом.</span></li>
<li><img src="project3.jpg" alt="Проект 3"><span>Проект 3 - это сайт для образовательной платформы.</span></li>
</ul>

<h3>Наши отзывы</h3>
<p>Мы ценим отзывы наших клиентов, которые доверяют нам свои бизнес-задачи. Вот что они говорят о нас:</p>

<ul class="testimonials">
<li><img src="client1.jpg" alt="Клиент 1"><span>"Очень доволен результатом. Команда профессиональная и отзывчивая. Сайт работает быстро и без ошибок. Рекомендую!"</span></li>
<li><img src="client2.jpg" alt="Клиент 2"><span>"Спасибо за отличное приложение. Оно удобное и функциональное. Мои клиенты очень довольны."</span></li>
<li><img src="client3.jpg" alt="Клиент 3"><span>"Ребята молодцы. Сделали сайт в срок и по доступной цене. Сайт красивый и современный. Очень понравилось."</span></li>
</ul>

<h3>Наши контакты</h3>
<p>Если вы хотите связаться с нами, вы можете использовать один из следующих способов:</p>

<ul class="contacts">
<li><img src="phone.png" alt="Телефон"><span>+7 (123) 456-78-90</span></li>
<li><img src="email.png" alt="Email"><span>info@mysite.com</span></li>
<li><img src="map.png" alt="Адрес"><span>г. Москва, ул. Ленина, д. 1, офис 10</span></li>
</ul>
{% endblock %}