{% extends "temp2/main.html" %}

{% block title %}Страница 1{% endblock %}

{% block content %}
<h2>Страница 1</h2>
<p>Это первая страница нашего сайта. Здесь вы можете узнать о нашей компании, наших целях и наших услугах.</p>
<p>Наша компания занимается разработкой веб-сайтов и приложений для разных клиентов. Мы стремимся создавать качественные и современные продукты, которые удовлетворяют потребностям наших заказчиков.</p>
<p>Наша цель - быть лидерами в области веб-разработки и предлагать инновационные решения для бизнеса и общества.</p>
<p>Наша услуга - это полный цикл разработки веб-сайтов и приложений, от анализа требований до тестирования и поддержки. Мы используем современные технологии и инструменты, такие как HTML, CSS, JavaScript, Python, Django, Bootstrap и другие.</p>
{% endblock %}